html {
}

body {
  min-width: 320px;
  direction: ltr;
  text-align: left;
  line-height: 1.45;
  letter-spacing: -0.22em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Arial", sans-serif;
  background-color: #fff;
  color: #1d1d1f;
  font-style: normal;
}

footer .footer {
  display: block;
  background-color: #fff;
  color: ;
}
