html {
  font-size: 14px;
}

body {
  min-width: 320px;
  direction: ltr;
  font-family: FiraMono-Regular;
  font-size: 10px;
  line-height: 1.25em;
  color: #000;
  letter-spacing: 0.01em;
}

#brand {
  font-size: 25px;
}

input[type="text"],
input[type="email"] {
  font-family: FiraMono-Regular;
  letter-spacing: 0.0001em;
  box-sizing: border-box;
  border-radius: 0;
  padding: 1.5em;
  margin: auto;
}

button[type="submit"] {
  font-family: FiraMono-Regular;
  box-sizing: border-box;
  border-radius: 0;
  background-color: black;
  color: white;
  font-weight: bold;
  outline: none;
  box-shadow: none;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  color: white;
  outline: none;
  box-shadow: none;
}

footer .footer {
  display: block;
}
