html {
}

body {
  min-width: 320px;
  direction: ltr;
  font-family: FiraMono-Regular;
  font-size: 13px;
  line-height: 1.25em;
  color: #000;
  letter-spacing: 0.01em;
}

section .section {
  padding-top: 24px;
  padding-bottom: 24px;
}

#brand {
  font-size: 25px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-family: FiraMono-Regular;
  letter-spacing: 0.0001em;
  box-sizing: border-box;
  border-radius: 0;
  padding: 1.5em;
  margin: auto;
}

button[type="submit"] {
  font-family: FiraMono-Regular;
  box-sizing: border-box;
  border-radius: 0;
  background-color: black;
  color: white;
  font-weight: bold;
  outline: none;
  box-shadow: none;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  color: white;
  outline: none;
  box-shadow: none;
}

button[disabled] {
  color: gray;
  background-color: darkgray;
}

button[disabled]:hover,
button[disabled]:focus {
  color: gray;
  background-color: darkgray;
}

footer .footer {
  display: block;
}

div #form-rules {
  padding-bottom: 3%;
}

li.valid {
  color: #5bc773;
}

li.invalid {
  color: #ea4668;
}

div .message {
  border-radius: 0px;
}

div .message-header {
  border-radius: 0px;
}

div .message-body {
  border-radius: 0px;
}

div .notification {
  height: 25%;
}

